# Ignore MySQL database files
*.sql
*.bak
*.log

# Ignore temporary files created by text editors/IDEs
*.swp
*.swo
*.vscode/
.idea/

# Ignore operating system-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Ignore Docker-related files if not used
docker-compose.override.yml

# Ignore compiled code or artifacts (if applicable)
*.class
*.jar
*.exe
*.out